

.nav-logo {
    height: 5vh;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .nav-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  .nav-title {
    font-weight: 300;
    font-size: 3vh;
  }

  .navbar-text{
    margin-right: 10px;
  }

  .nav-footer {
    font-size: 12px;
  }

  .weather-logo {
    height: 5vh;
    margin-right: -5px;
  }

  .navbar-collapse{
    text-align: end;
  }