* {
    font-weight: 100;
}

.search-div-dark {
    background-color: #332d2d;
    animation: fadeInAnimation 3s;
}
  @keyframes fadeInAnimation {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

.search {
    display: flex;
    justify-content: center;
    padding: 5px;
    padding-top: 15px;
}

.search-box {
    border-radius: 50;
    z-index: 6;
    width: 50%;
    transition-duration: 800ms;
}

.search-box:focus-within {
    width: 90%;
    padding-top: 100px;
    transition-duration: 800ms;
  }

.search-input-dark {
    animation: fadeInAnimation 3s;
}
  @keyframes fadeInAnimation {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
  .search-input-dark:focus {
    color: white !important;
}

.search-input::placeholder{
    color: red;
}

.search-input-dark label{
    color: #4476e9;
    text-align: center;
}

.dynamic-search {
    position: relative;
}

.search-list{
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 5;
    border: .1px solid black;
}

.city-text-container{
    padding-top: -8px;
    padding-bottom: -8px;
}
