* {
    font-weight: 100;
}

.search-div-dark {
    background-color: #332d2d;
    animation: fadeInAnimation 1s;
}
  @keyframes fadeInAnimation {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

.search {
    display: flex;
    justify-content: center;
    padding: 5px;
    padding-top: 15px;
}

.search-box {
    border-radius: 50;
    z-index: 6;
    width: 50%;
    transition-duration: 800ms;
}

.search-box:focus-within {
    width: 90%;
    padding-top: 100px;
    transition-duration: 800ms;
  }

.search-box:focus-within .search-btn {
    width: 5em;
    border: .5px solid black;
    transition-duration: 800ms;
  }

  .search-box:focus-within .search-btn-dark {
    width: 5em;
    transition-duration: 800ms;
    border: .5px solid black;
  }

.search-input-dark {
    text-align: center;
    font-weight: 100;
    border: none;
    color: white !important;
    animation: fadeInAnimation 1s;
}
  @keyframes fadeInAnimation {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
.search-input-dark label{
    color: white;
}

.search-icon {
    background-color: white;
}

.search-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: white;
    width: 3rem;
    transition-duration: 1000ms;
    border: none;
    animation: lightBtnFadeInAnimation 1s;
}
  @keyframes lightBtnFadeInAnimation {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

.search-btn-dark{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 3rem;
    transition-duration: 1000ms;
    border: none;
    background-color: #4476e9;
    animation: btnFadeInAnimation 1s;
}
  @keyframes btnFadeInAnimation {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

.dynamic-search {
    position: relative;
}

.search-list{
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 5;
    border: .1px solid black;
}

.city-text-container{
    padding-top: -8px;
    padding-bottom: -8px;
}
